
/* Small-ish screens (desktop/laptop) */
@media screen and (min-width: 1024px) and (max-width:1280px) {

    .about-me {
        font-size: 1rem;
    }

    .portrait {
        height: 90%;
        width: 85%;
    }
}

/* Smaller screens (desktop/laptop/tablet) */
@media screen and (min-width: 800px) and (max-width:1023px) {

    section {
        height: 1200px;
    }
    
    .about-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .portrait-sub-grid {
        padding-top: 40px;
        padding-right: 50px;
      
    }

    .portrait {
        height: 100%;
        width: 100%;
    }

    .portrait:nth-child(1) {
        display: grid;
        grid-column: 1 / span 1;
        grid-row: 1 / span 2;
    }

    .portrait:nth-child(2) {
        display: grid;
        grid-column: 2 / span 1;
        grid-row: 1 / span 2;
    }
    
    .portrait:nth-child(3) {
        display: none;
    }
    
    .portrait:nth-child(4) {
        display: none;
    }

    
    .about-me {
        font-size: .9rem;
        margin: 30px 30px 30px 30px;
    }
}

/* Very small screens, but still larger than smartphones */
@media screen and (min-width: 500px) and (max-width:799px) {

    section {
        height: 1200px;
    }

    .navigation {
        flex-direction: column;
        margin: 40px 40px 15px 40px;
    }

    .job-title {
        display: none;
        align-items: center;
    }

    .smartphone-job-title {
        display: flex;
        margin: 10px 0px 25px 0px;
    }

    .portfolio-grid {
        height: 1200px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .project {
        grid-row: span 2;
    }

    .about-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .portrait-sub-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding-top: 80px;
        padding-right: 50px;
      
    }

    .portrait {
        height: 90%;
        width: 100%;
    }

    .portrait:nth-child(2) {
        display: none;
    }

    .portrait:nth-child(3) {
        display: none;
    }
    
    .portrait:nth-child(4) {
        display: none;
    }

    .about-me {
        font-size: .9rem;
        margin: 0px 30px 50px 30px;
    }

    .form-container {
        width: 70%;
    }

    .footer-container a img {
        width: 35%;
    }

    .copyright-overlay {
        font-size: .5rem;
    }

}

/* Large/small smartphones*/
@media screen and (min-width: 0px) and (max-width:499px) {

    section {
        height: 1400px;
    }
    
    .navigation {
        flex-direction: column;
        margin: 40px 40px 15px 40px;
    }

    .logo img {
        width: 65px;
        height: 65px;
    }

    .nav-list ul {
        font-size: .9rem;
    }

    .job-title {
        display: none;
        align-items: center;
    }

    .smartphone-job-title {
        display: flex;
        margin: 10px 0px 25px 0px;
    }

    .portfolio-grid {
        height: 1200px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }

    .project {
        height: 90%;
        grid-row: span 2;
    }

    .about-grid {
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr;
    }

    .portrait-sub-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        padding-top: 80px;
        padding-right: 50px;
      
    }

    .portrait {
        height: 90%;
        width: 100%;
    }

    .portrait:nth-child(2) {
        display: none;
    }

    .portrait:nth-child(3) {
        display: none;
    }
    
    .portrait:nth-child(4) {
        display: none;
    }

    .about-me {
        font-size: .8rem;
        margin: 0px 30px 50px 30px;
    }
    
    .form-container p {
        font-size: .8rem;
    }

    .form-container label {
        font-size: .8rem;
    }

    .form-container button {
        font-size: .8rem;
    }

    .footer-container a img {
        width: 30%;
    }

    .copyright-overlay {
        font-size: .5rem;
        right: 20px;
    }

    .alert-message {
        font-size: .8rem;
    }

    .success-message {
        font-size: .8rem;
    }
}