/* Small-ish screens (desktop/laptop) */
@media screen and (min-width: 1024px) and (max-width:1280px) {

    .speech-bubble { 
        top: 27%;
    }

    .about-grid {
        grid-template-columns: 1fr 1fr;
    }

    .portrait-container {
        height: 90%;
        width: 85%;
    }

    .portrait-container img {
        align-content: center;
        align-self: center;
        width: 100%;
    }

    .about-me {
        font-size: .9rem;
        margin-right: 60px;

    }   
}


/* Smaller screens (desktop/laptop/tablet) */
@media screen and (min-width: 800px) and (max-width:1023px) {

    section {
        height: 1200px;
    }
    
    .speech-bubble { 
        top: 19%;
    }

    .about-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .portrait-container {
        margin-top: 40px;
        margin-bottom: -40px;
    }    

    .about-me {
        font-size: .9rem;
        margin: 30px 60px -20px 30px;
    }
}


/* Very small screens, but still larger than smartphones */
@media screen and (min-width: 500px) and (max-width:799px) {

    section {
        height: 1200px;
    }

    .speech-bubble { 
        font-size: 1rem;
        width: 200px;
        height: 125px;
        top: 10%;
    }

    .navigation {
        flex-direction: column;
        margin: 40px 40px 15px 40px;
    }

    .job-title {
        display: none;
        align-items: center;
    }

    .smartphone-job-title {
        display: flex;
        margin: 10px 0px 25px 0px;
    }

    .portfolio-grid {
        height: 1200px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .about-grid {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .portrait-container {
        margin-top: 60px;
        margin-bottom: 20px;
    }    

    .about-me {
        font-size: .9rem;
        margin: 0px 60px 30px 30px;
    }

    .form-container {
        width: 70%;
    }

    .footer-container a img {
        width: 35%;
    }

    .copyright-overlay {
        font-size: .5rem;
    }

}


/* Large/small smartphones*/
@media screen and (min-width: 0px) and (max-width:499px) {

    section {
        height: 1400px;
    }

    .speech-bubble { 
        font-size: .6rem;
        width: 100px;
        height: 75px;
        top: 1px;
    }

    .navigation {
        flex-direction: column;
        margin: 25px 25px 15px 40px;
        padding: 0px;
    }

    .logo img {
        width: 65px;
        height: 65px;
    }

    .nav-list ul {
        font-size: .9rem;
    }

    .job-title {
        display: none;
        align-items: center;
    }

    .smartphone-job-title {
        display: flex;
        margin: 10px 0px 15px 0px;
    }

    .portfolio-grid {
        height: 1200px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }

    .about-grid {
        grid-template-columns: 1fr;
        grid-template-rows: .5fr 1fr;
    }

    .portrait-container {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 90px;
        height: 90%;
        width: 100%;
    }

    .portrait-container img {
        width: 75%;
    }

    .about-me {
        font-size: .8rem;
        margin: 0px 30px 50px 30px;
    }
    
    .form-container p {
        font-size: .8rem;
    }

    .form-container label {
        font-size: .8rem;
    }

    .form-container button {
        font-size: .8rem;
    }

    .footer-container {
        height: 70px;
    }
    
    .footer-container a img {
        width: 25%;
        height: 40%;
    }

    .copyright-overlay {
        font-size: .5rem;
        right: 20px;
    }

    .loader {
        width: 80px;
        height: 80px;
    }

    .alert-message {
        font-size: .8rem;
    }

    .success-message {
        font-size: .8rem;
    }
}