* {
    box-sizing: border-box; 
}

html {
    height: 100%;
}

body {
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Sen', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #8AC1C5;
}


/******************/
/* Navigation bar */
/******************/

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

/* Left side of navigation bar */
.logo img {
    width: 80px;
    height:80px;
}

/* Right side of navigation bar */
.nav-list ul {
    display: flex;
    list-style: none;
}   

.nav-list li {
    text-decoration: none;
}

.nav-list li a {
    padding: 1rem;
    text-decoration: none;
    color: #324B4D;
}

.nav-list li a:hover {
    color: #fff;
    filter:contrast(300%);
}


/*****************/
/* Main sections */
/*****************/

section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 650px;
    background: #FFF;

}

/* TODO: Large, panoramic, verdant black-and-white ink drawing */
.landscape-drawing {

}

.portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-grid {
    display: grid;
    width: 100vw;
    height: 600px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 20px;
}

/* TODO: Make IDs for each project */
.project {
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(50, 92, 109, 0.7)
}

/* About section contains a main grid of two (2), which itself contains
 * a sub-grid of four (4) in the left container, and an 'about-me' section on the right */

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-grid {
    display: grid;
    width: 100vw;
    height: 600px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 20px;
    padding: 20px;
}

.portrait-sub-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 10px;
}

.portrait {
    display: flex;
    justify-content: center;
    align-items: center;
    background:rgba(50, 92, 109, 0.7);
    width: 75%;
}

.about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.15rem;
    line-height: 1.8;
}

/**********/
/* Footer */
/**********/

.footer-container {
    height: 14vh;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    overflow: auto; 
    background: #8AC1C5;
}

.footer-container a { 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px 10px 0px;
}

.footer-container a img {
    width: 40%;
}

/* Defaults for the LinkedIn/GitHub logos */
.footer-container a img[src="img/linkedin_logo.png"] {
    background: rgba(255, 255, 255, .7);
    border-radius: 3px;
}

.footer-container a img[src="img/github_logo.png"] {
    background: rgba(255, 255, 255, .7);
    border-radius: 1rem;
}

/* Hovers for the LinkedIn/GitHub logos */
.footer-container a img[src="img/linkedin_logo.png"]:hover {
    background: #FFF;
    filter: brightness(120%);
    border-radius: 3px;
}

.footer-container a img[src="img/github_logo.png"]:hover {
    background: #FFF;
    filter: brightness(120%);
    border-radius: 1rem;
}

.copyright-overlay {
    color: #324B4D;
    position: absolute;
    font-size: .7rem;
    right: 35px;
}