$base-background: #085078;
$right-gradient: #9bb4cc;
$left-gradient: #acd4e4d2;

$speech-bubble-grey: #e4dada;

$darker-blue-primary: #005c73;
$darker-blue-secondary: #325c73;
$darker-blue-tertiary: #324b4d;

$alert-red: #922704;
$alert-green: #5bbc9e;
$loader-grey: #f3f3f3;
$loader-blue: #76a6c7;

$white: #fff;
$black: #000;

* {
   box-sizing: border-box;
}

body {
   display: flex;
   flex-direction: column;
   height: 100vh;
   margin: 0;
   padding: 0;
   background: $base-background;
   background: -webkit-linear-gradient(
      to left,
      $right-gradient,
      $left-gradient
   );
   background: linear-gradient(to left, $right-gradient, $left-gradient);
   font-family: "Sen", sans-serif;
}

/******************/
/* NAVIGATION BAR */
/******************/

.navigation {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 30px 40px 30px 40px;
}

.name {
   display: flex;
   flex-direction: row;
   text-transform: full-width;
}

/* Right side of navigation bar */
.nav-list {
   ul {
      display: flex;
      padding-left: 0;
      list-style: none;
   }

   li {
      text-decoration: none;

      a {
         padding: 1rem;
         text-decoration: none;
         color: $darker-blue-tertiary;

         &:hover {
            color: rgba($white, 0.637);
         }
      }
   }
}

/*****************/
/* MAIN SECTIONS */
/*****************/

section {
   display: flex;
   flex: 1 0 auto;
   justify-content: center;
   align-items: center;
   height: auto;
   width: 100vw;
   background: $white;
}

/* For the CSS animation to follow, I am much obliged to these sources of help and inspiration.

  These are very different solutions. I used a grid solution, but took inspiration from the
  relative/absolute solution, which was too fussy for my purposes.

  https://www.youtube.com/watch?v=sZJrcOfBaNY
  https://www.taniarascia.com/crossfade-between-two-images-with-css-animations/ 
  
  Explanation: the drawings are layered using grid, and the top drawing fades to give
  way to the bottom drawing. I will also be using this for self-portrait animations in my
  'About' section.
*/

/* DEFAULT VISIBILITY: container, imgs, bubble are hidden by default for the */
/*                     loader and then made visible via JS script.           */

.landscape-drawings-container {
   visibility: hidden;
   display: grid;
   position: relative;

   img {
      visibility: hidden;
      max-width: 100%;
      max-height: auto;
   }
}

.bottom-drawing {
   display: grid;
   grid-column: 1 / span 1;
   grid-row: 1 / span 1;
}

.bottom-drawing-smartphone {
   display: none;
   grid-column: 1 / span 1;
   grid-row: 1 / span 1;
}

.top-drawing {
   display: grid;
   grid-column: 1 / span 1;
   grid-row: 1 / span 1;

   animation-name: fade;
   animation-timing-function: ease-in-out;
   animation-duration: 2s;
   animation-fill-mode: forwards;
   animation-delay: 1.5s;
}

.top-drawing-smartphone {
   display: none;
   grid-column: 1 / span 1;
   grid-row: 1 / span 1;

   animation-name: fade;
   animation-timing-function: ease-in-out;
   animation-duration: 2s;
   animation-fill-mode: forwards;
   animation-delay: 1.5s;
}

@keyframes fade {
   0% {
      opacity: 1;
   }
   25% {
      opacity: 1;
   }
   75% {
      opacity: 0;
   }
   100% {
      opacity: 0;
   }
}

/* Attribution: Khaled Ahmed Younes, https://codepen.io/KhaledAhmedYounes/pen/xXqYGY */
/*              Modified to suit my needs. Very much appreciated! */

.speech-bubble {
   visibility: hidden;
   display: flex;
   text-align: center;
   align-items: center;
   position: absolute;
   font-family: "Roboto Slab", serif;
   font-size: 1.5rem;
   transform-origin: 0% 100%;
   background-color: $speech-bubble-grey;
   opacity: 0.9;
   color: $black;
   border-radius: 15px;
   width: 325px;
   height: 150px;
   padding: 15px;
   left: 56%;
   top: 42%;
   transform: scale(0);

   animation-name: expand-bounce;
   animation-fill-mode: forwards;
   animation-duration: 0.6s;
   animation-delay: 2.5s;

   &::before {
      content: "";
      display: block;
      width: 0;
      position: absolute;
      bottom: -25px;
      left: 5px;
      border-style: solid;
      border-width: 15px;
      border-color: $speech-bubble-grey transparent transparent $speech-bubble-grey; /* huh ? */
      transform: rotate(10deg);
   }
}

@keyframes expand-bounce {
   0% {
      transform: scale(0);
   }
   75% {
      transform: scale(1.05);
   }
   100% {
      transform: scale(1);
   }
}

/**********************************/
/* Portfolio/project grid section */
/**********************************/

.portfolio-container {
   display: flex;
   justify-content: center;
   align-items: center;
   font-family: "Comfortaa", cursive;
}

.portfolio-grid {
   display: grid;
   width: 100vw;
   height: 600px;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 20px;
   padding: 20px 30px 20px 20px;
}

/* TODO: Make IDs for each project */
.project {
   display: flex;
   justify-content: center;
   align-items: center;
   background: rgba($darker-blue-secondary, 0.7);
}

/*****************/
/* About section */
/*****************/

.about-container {
   display: grid;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   overflow: hidden;
   font-family: "Comfortaa", cursive;
}

.about-grid {
   display: grid;
   width: 100vw;
   max-height: 100%;
   grid-template-columns: 1fr 1fr 0.15fr; /* the .15 is just for spacing the other elements */
   grid-template-rows: 1fr;
   gap: 20px;
   padding: 1rem;
}

/* Using the same method as with the index page drawings */
.portrait-container {
   display: grid;
   position: relative;
   justify-content: center;
   align-items: center;
   place-self: center;
   width: 500px;

   img {
      align-content: center;
      align-self: center;
      width: 100%;
   }
}

.bottom-portrait {
   display: grid;
   grid-column: 1 / span 1;
   grid-row: 1 / span 1;
}

.top-portrait {
   display: grid;
   grid-column: 1 / span 1;
   grid-row: 1 / span 1;

   animation-name: fade;
   animation-timing-function: ease-in-out;
   animation-duration: 1.5s;
   animation-fill-mode: forwards;
   animation-delay: .5s;
}

.about-me {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 60px;
   margin-right: 20px;
   margin-bottom: 60px;
   font-size: 1.1rem;
   line-height: 1.8;
}

#highlight-selection-container {
   position: relative;
   z-index: 0;
}

#highlight-selection {
   position: absolute;
   z-index: 1;
   right: -70px;
   bottom: -120px;
   pointer-events: none;
}

/************************/
/* Contact form section */
/************************/

.form-container {
   display: flex;
   flex-direction: column;
   justify-content: center;
   margin: 2rem;
   min-width: 33vw;

   .opener {
      margin-bottom: 2.5rem;
   }

   .form-inner {
      display: flex;
      flex-direction: row;
      gap: 5rem;

      .name {
         flex-basis: 25%;
         flex-shrink: 0;
         text-transform: full-width;
      }

      .content {
         flex-basis: 75%;
         flex-grow: 1
      }

      .question {
         display: block;

         span {
            display: block;
            height: auto;
            margin-bottom: 1rem;
         }
      }
   }

   form {
      display: flex;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      font-size: 1rem;
   }

   .button-submit {
      cursor: pointer;
      width: 100%;
      height: 3rem;
      align-self: center;
      margin: 1rem 0;
      font-family: "Sen", sans-serif;
      font-weight: 700;
      font-size: 1.25rem;
   }

   label {
      margin-bottom: 1rem;
   }

   input {
      width: 100%;
      padding: 0.3rem;
      margin-bottom: 1rem;
      font-family: "Montserrat", sans-serif;
   }

   textarea {
      width: 100%;
      height: 140px;
      padding: 0.3rem;
      margin-bottom: 1rem;
      font-family: "Montserrat", sans-serif;
   }
}

/**********/
/* FOOTER */
/**********/

.footer-container {
   flex: 1 0 auto;
   height: 12vh;
   width: 100vw;
   display: flex;
   position: relative;
   justify-content: center;
   align-items: center;
   overflow: auto;
   background: $base-background;
   background: -webkit-linear-gradient(
      to left,
      $right-gradient,
      $left-gradient
   );
   background: linear-gradient(to left, $right-gradient, $left-gradient);

   a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 0px 10px 0px;

      img {
         width: 40%;

         &[src="img/linkedin_logo.png"] {
            background: rgba($white, 0.7);
            border-radius: 3px;

            &:hover {
               background: $white;
               filter: brightness(120%);
               border-radius: 3px;
            }
         }

         &[src="img/github_logo.png"] {
            background: rgba($white, 0.7);
            border-radius: 1rem;

            &:hover {
               background: $white;
               filter: brightness(120%);
               border-radius: 1rem;
            }
         }
      }
   }
}

.copyright-overlay {
   color: $darker-blue-tertiary;
   position: absolute;
   font-size: 0.7rem;
   right: 35px;
}

/***************/
/** UTILITIES **/
/***************/

.loader {
   position: absolute;
   border: 3px solid $loader-grey;
   border-top: 10px solid $loader-blue;
   border-radius: 50%;
   width: 160px;
   height: 160px;
   animation: spin 1.7s linear infinite;
}

@keyframes spin {
   0% {
      transform: rotate(0deg);
   }
   100% {
      transform: rotate(360deg);
   }
}

.alert-message {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 2rem;
   margin-bottom: 15px;
   background-color: $alert-red;
   color: $white;
}

.success-message {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 2rem;
   margin-bottom: 10px;
   background-color: $alert-green;
   color: $white;
}
