/**************************************/
/* Small-ish screens (desktop/laptop) */
/**************************************/

@media screen and (min-width: 1024px) and (max-width: 1280px) {
   .about-grid {
      grid-template-columns: 1fr 1fr;
   }

   .portrait-container {
      height: 90%;
      width: 85%;

      img {
         align-content: center;
         align-self: center;
         width: 100%;
      }
   }

   .about-me {
      font-size: 0.9rem;
      margin-right: 60px;
   }

   #highlight-selection {
      max-width: 300px;
      right: -40px;
      bottom: -90px;
   }
}

/*******************************************/
/* Smaller screens (desktop/laptop/tablet) */
/*******************************************/

@media screen and (min-width: 800px) and (max-width: 1023px) {
   .about-grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
   }

   .portrait-container {
      margin-top: 40px;
      margin-bottom: -40px;
   }

   .about-me {
      font-size: 0.9rem;
      margin: 30px 60px -20px 30px;
   }

   #highlight-selection {
      max-width: 300px;
      right: -45px;
      bottom: -90px;
   }
}

@media screen and (min-width: 800px) {
   .copyright-overlay {
      position: absolute;
      margin-top: 0 !important;
      right: 30px;
   }
}

/*********************************************************/
/* Very small screens, but still larger than smartphones */
/*********************************************************/

@media screen and (min-width: 500px) and (max-width: 799px) {
   .navigation {
      justify-content: space-evenly;
      flex-direction: column;
      height: 150px;
      margin: 30px 0px 20px 0px;
   }

   .job-title {
      display: none;
      align-items: center;
   }

   .smartphone-job-title {
      display: flex;
      margin: 10px 0px 25px 0px;
   }

   .portfolio-grid {
      height: 1200px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
   }

   .about-grid {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
   }

   .portrait-container {
      margin-top: 60px;
      margin-bottom: 20px;
   }

   .about-me {
      font-size: 0.9rem;
      margin: 0px 60px 30px 30px;
   }

   #highlight-selection {
      max-width: 300px;
      right: -45px;
      bottom: -90px;
   }

   .form-container {
      margin: 5rem 2rem;
      width: 70%;

      .form-inner {
         flex-direction: column;
         gap: unset;
      }
      
      .opener {
         margin: 0 0 3rem 0;
      }
   }

   .footer-container {
      min-height: 18vh;

      .link-container {
         .link {
            width: 30px;
            height: 30px;
         }
      }

      .copyright-overlay {
         margin-top: 0.5rem;
         margin-bottom: 1.5rem;
      }
   }

   .container-404 {
      flex-direction: column;

      .text {
         p {
            margin: 0 0 1rem 0;
         }
      }

      .messages {
         margin-bottom: 2.5rem;
      }
   }
}

/**************************/
/* Large/small smartphones*/
/**************************/

@media screen and (min-width: 0px) and (max-width: 499px) {
   body {
      height: 100vh;
      width: 100vw;
   }

   .smartphone-index-section {
      height: min-content;
   }

   .smartphone-about-section {
      height: 1000px;
   }

   .bottom-drawing {
      display: none;
   }

   .bottom-drawing-smartphone {
      display: grid;
   }

   .top-drawing {
      display: none;
   }

   .top-drawing-smartphone {
      display: grid;
   }

   .navigation {
      justify-content: space-evenly;
      flex-direction: column;
      height: 150px;
      margin: 30px 0px 20px 0px;
   }

   .nav-list ul {
      font-size: 0.9rem;
   }

   .job-title {
      display: none;
      align-items: center;
   }

   .smartphone-job-title {
      display: flex;
      margin: 0px 0px 0px 0px;
   }

   .about-grid {
      grid-template-columns: 1fr;
      grid-template-rows: 0.5fr 1fr;
   }

   .portrait-container {
      margin-top: 20px;
      margin-bottom: 20px;
      margin-left: 90px;
      height: 90%;
      width: 100%;

      img {
         width: 75%;
      }
   }

   .about-me {
      font-size: 0.8rem;
      margin: 0px 30px 50px 30px;
   }

   #highlight-selection {
      max-width: 300px;
      right: -55px;
      bottom: -90px;
   }

   .form-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0rem 2rem 5rem 2rem;

      p {
         font-size: 0.8rem;
      }

      label {
         font-size: 0.8rem;
      }

      button {
         font-size: 0.8rem;
      }

      .form-inner {
         flex-direction: column;
         gap: unset;
      }

      .opener {
         margin: 4rem 0 2rem 0;
      }
   }

   .footer-container {
      min-height: 18vh;
      flex-shrink: 1;

      .link-container {
         .link {
            width: 30px;
            height: 30px;
         }
      }

      .copyright-overlay {
         margin-top: 0.5rem;
         margin-bottom: 1.5rem;
      }
   }

   .loader-container {
      width: 180px;
      height: 180px;
   }

   .alert-message {
      font-size: 0.8rem;
   }

   .success-message {
      font-size: 0.8rem;
   }

   .container-404 {

      flex-direction: column;
      .text {
         p {
 
            font-size: 7.5rem;
            margin: 0 0 1rem 0;
         }
      }

      .messages {
         margin-bottom: 2.5rem;

         .message {
            font-size: 1rem;
         }
      }
   }
}


/********/
/* Home */
/********/

@media screen and (min-width: 0px) and (max-width: 799px) {
   .home {
      display: flex;
      flex-direction: column;
   
      header {
         flex-basis: 20%;
      }
   
      section {
         flex-basis: 50%;
      }
   
      footer {
         flex-basis: 20%;
      }
   }
}
